---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Playfair+Display);
@charset "utf-8";



// Our variables
$base-font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$content-spacing:  50px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$footer-height:    100px;
$banner-height:    250px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "_syntax-highlighting";
//         "landing",
//         "chapalang",
//         "portfolio",
//         "expt"
// ;

h1,h2,h3,h4,h5{
    font-family:'Playfair Display';
}

p {
    font-family:'Open Sans';
}

* {
    font-family: 'Open Sans';
}

.content-container {
    margin-top: $content-spacing;
    margin-bottom: $content-spacing;
}

.blog-row > .col-md-4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
Site  Header
*/


.section__banner {
    position: relative;
    padding-bottom: $spacing-unit;
    background: linear-gradient(128deg, rgba(2, 117, 216, 0.83), rgba(184, 92, 161, 0.43));
    height: $banner-height;

    .site-header {
        .navbar-brand {
            font-family: 'Playfair Display';
        }
        .mynavbar {
            background: transparent;
        }

    }

    .section__title {
        min-width: 100%;
        text-align: center;
        position: absolute;
        bottom: 10px;
    }
}



/**
 * Site footer
 */

html {
    height: 100%;

} 
body {
    margin-bottom: $footer-height;
    position: relative;
    min-height: 82.3%;
}

.site-footer {
    
    position: absolute;
    // bottom: -$spacing-unit -$footer-height;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: gray;
    min-width: 100%;
    // height: $spacing-unit + $footer-height;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    font-family: 'Oswald';
}

.footer-col-custom {
    color: white;  
    
    .fa {
        color: white;
        padding: 20px;
    }
}

.contact-icons {
    display: flex;
    justify-content:flex-end;
}

.fa-github:hover {
    background-color: black;
}
.fa-linkedin:hover {
    background-color:#3395C3;
}
.fa-envelope:hover {
    background-color: red;
}
.fa-pinterest-p:hover{
    background-color: #BD081B;
}
.fa-instagram:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}