---
layout: bare
---
{% contentfor scripts %}
  {% stylesheet landing %}
{% endcontentfor %}

<section class="bg">
  <div class="container">
  	<div class="row intro">
  		<span class="intro__caption">
  			Hello. You're at the
  		</span>
  		<br>
  	</div>


    <div class="row intro">
      <span class="intro__caption">
        Rong place
      </span>
    </div>

    <div class="row intro">
      <div class="intro__links">
        {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="intro__page-link hvr-underline-from-center" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
      </div>
    </div>

  </div>
</section>