<footer class="site-footer">
  <div class="wrapper">

    

    <div class="footer-col-wrapper footer-col-custom">
      <div class="col-md-4">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p>{{ site.description }}</p>
      </div>

      <div class="col-md-8 contact-icons">
          <a href="https://github.com/kohrongying" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/rongyingkoh/" target="_blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
          <a href="mailto:kohrongying@gmail.com" target="_blank"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
          <a href="https://www.pinterest.com/kohrongying" target="_blank"><i class="fa fa-2x fa-pinterest-p" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/kickrongying" target="_blank"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>



      </div>

    </div><!-- footer-col-wrapper -->

  </div>
</footer>
