@import "bootstrap";

// *,
// *::before,
// *::after {
//     -webkit-box-sizing: border-box;
//        -moz-box-sizing: border-box;
//             box-sizing: border-box;
// }

h1,h2,h3,h4,h5{
  font-family:'Playfair Display';
}

//expt 
section.header-title{
  background: linear-gradient(128deg, #3aba99, #523aba);
  h1,p {
    color:white;
    text-align: center;
  }
}

//flexbox

.fb-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-auto-rows: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-col {
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: 2px solid;
  padding-right: 30px;
}

.show-col {
  grid-row-start: 1;
  grid-row-end:2;
  grid-column-start: 2;
}

.display-col {
  padding: 50px;
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
}

.display-col span {
  display: block;
  font-family: 'Open Sans'
}

.display-col span#justify-content, span#align-items, span#flex-direction,span#flex-wrap, span#align-content, span#display {
  padding-left: 10px;
}

.expt-box {
  padding: 10px;

  .circle {
    width:25px;
    height: 25px;
    background: red;
    border-radius:100px;
    margin: 10px;
  }
  #blue {
    background:blue;
  }
  #green{
    background:green;
  }
}


//color palette
.box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: copy;
  font-size: 25px;
  font-weight: bold; }

#radiobtn-ans {
  display: inline;
  font-weight: bold; }

//hover
@mixin set-button-bg-color($bg:black, $color:white) {
  color: $color;
  background: $bg;
  padding: 15px 20px;
  margin: 25px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.bg-shake {
  @include set-button-bg-color(#003d7c,white);
}

.hover1 {
  @include set-button-bg-color(#e3d016,white);
  /*mustard*/
  box-shadow: inset 0 0 0 0 #8cb256; /*green*/
  &:hover {
    box-shadow: inset 400px 0 0 0 #8cb256; /*green*/
  }
}

.hover2 {
  @include set-button-bg-color(#343434,#7df9ff); /*grey bg and blue words*/  
  box-shadow: inset 0 0 0 0 #7df9ff;
  &:hover{
    box-shadow: inset 0 -100px 0 0 #7df9ff; /*blue*/
    color:#343434; /*grey*/;
  }
}

.hover3 { 
  @include set-button-bg-color(white,#ef672f);/*orange text*/
  border: 2px solid #EF672F; /*orange*/
  box-shadow: none;
  &:hover{
    color: white; /*orange*/
    background: #EF672F;
    box-shadow: 6px 6px black; 
  }
}

.hover4 {
  @include set-button-bg-color(#DAE7AD,black);/*green*/
  &:hover{
    box-shadow: inset 0 0 0 5px #C3D77A; 
  }
}

.hover5{
  position:relative;
  @include set-button-bg-color(rgba(0,0,0,0),#ef672f);
  &::after{
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 5px;
    background-color: #98004a;
    content: "";
    transition: width 0.2s;
  }
  &:hover{
    color: #98004a;
    &::after{
      width:100%;
    }

  }
}

.bg-grey {
  background-color: #eee;
}

//card

.card {
  width: 100%;
  height:200px;
  position: relative;
  
  .front,.back{
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
  }
  .front {
    background-color: #FFA893;
  }
  .back {
    background-color: black;
  }
}

.card-x {
  .back {
    transform: rotateX(-180deg);
    background-image:url(http://placeholder.pics/svg/300);
    background-size: contain;
  }
  &:hover{
    .front {
        -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
    }  
    .back {
      -webkit-transform: rotateX(0);
          transform: rotateX(0);
    }

  }
}

.card-y {
  .back {
    transform: rotateY(-180deg);
  }
  &:hover{
    .front {
        -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
    }  
    .back {
      -webkit-transform: rotateY(0);
          transform: rotateY(0);
    }

  }
}

.v-h-center {
  display: flex;
  align-items:center;
  justify-content:center;
}

.hover100 {
  @include set-button-bg-color(#9AC6A3,white);
  position: relative;
    -webkit-transition: all 0.2s;
          transition: all 0.2s;
  &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      content: "";
      -webkit-transition: height 0.2s;
              transition: height 0.2s;
  }
  &:hover {
    color:red;
    &::after {
      height: 8px;
    }
  }
}