@import "bootstrap";

@charset "utf-8";

// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

//Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Playfair+Display);

h1,h2,h3,h4,h5{
	font-family:'Playfair Display';
}

p {
    font-family:'Open Sans';
}

.footer-col-custom {
    color: white;
    .fa {
    	color: white;
	    padding: 20px;
	}
}

.contact-icons {
	display: flex;
	justify-content:flex-end;
}

.fa-github:hover {
	background-color: black;
}
.fa-linkedin:hover {
	background-color:#3395C3;
}
.fa-envelope:hover {
	background-color: red;
}
.fa-pinterest-p:hover{
	background-color: #BD081B;
}
.fa-instagram:hover{
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}