$teal:#2fc6bf;
$orange:#eaaa2a;
$grey:#6e7271;

@mixin dfadf ($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin header-style($color) {
	border-left: 15px solid $color;
	padding-left: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 30px;
}

.bg {
	background-image: url(asset_path("homebg1.jpeg"));
	/* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
	padding-top: 80px;
	padding-bottom: 50px;

	span {
		@include header-style($teal);
	}
}

// section#skills,#projects,#resume,#contact,#aboutme,#interests {
// 	padding-top:80px;
// }
section#projects {
	padding-bottom: 80px;
}

section#resume {
	padding: 100px;
	text-align: center;
	font-size: 30px;

	a {
		color: white;
	}
}

section#skills {
	padding-bottom:80px;
	background-color: $teal;
	
	.section-heading span {
		@include header-style(white);
	}

}

section#resume,#contact,#workexperience {
	background-color: $grey;
	color: white;
}

h1.title-custom {
	font-size:80px;
	font-weight:700;
	color:white;
	position:relative;
	text-align:left;
}

h1.title-custom:after {
	content:'HELLO';
	position: absolute; left:5px; top:5px;
	color:$grey;
}

.education {
	padding-top: 80px;
	width: 100%;
}

.work {
	padding-bottom: 80px;
}

section#skills .myskills{
	background-image: url(asset_path("portfolio/cubes.png"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section#interests {
	background-image: url(asset_path("portfolio/img2.jpg"));
	padding: 80px;
	box-shadow:inset 0 0 0 200px rgba(0,0,150,0.3);

	.interests-heading h1{
		color:white;
		font-size: 56px;
	}

	a {
		margin-top: 20px;
	}
}

.parallax {
	height:400px;
	background-size:cover; /*forces the background image to occupy the total available space by expanding it proportionally*/
	background-attachment: fixed; /*fixes the bakcground while content scrolls past it*/
	background-repeat:no-repeat; /*not really necessary*/
}