body {
	margin-bottom: 0;
}

$dark-blue:rgb(31,78,121);
$light-blue:#6DBBEB;

section#hello {
	
	background-image: url(asset_path("portfolio/cover.jpg"));
	background-size: cover;
	box-shadow:inset 0 0 0 2000px rgba(31,78,121,0.8);
	height: 80vh;
	.container,.row{
		height: inherit;
	}
	.hello-text {
		color: white;
		display: flex;
		align-items: center;
		height: inherit;
	}
}

section#aboutme {
	background-color: beige;

	.aboutme-img-col {
		display: flex;
		align-items: center;
	}
	.aboutme-img {
		padding: 100px;
	}
	#img-border {
		min-height: 340px;
		min-width: 340px;
		position: absolute;
		border: 2px solid;
		top:80px;
		right:80px;
		z-index: -1;
	}
	.aboutme-text {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.section-title {
	border-bottom: 1px solid;
	padding: 10px;
}

section#work {
	background-color: $dark-blue;
	.work-col {
		padding-top: 100px;
		padding-bottom: 100px;
		color: white;
	}

	.work-text {
		background-color: $light-blue;
		padding: 20px;
		height: 430px;

		display: flex;
		align-items:flex-end;
		justify-content:center;

	}
	.work-img {
		margin-bottom: 30px;
	}
}

@media screen and (max-width:768px) {
	.proj-col {
		min-width: 100%;
	}
}

@media screen and (min-width:768px) and (max-width:992px) {
	.proj-col {
		min-width: 50%;
	}
}

@media screen and (min-width:992px) {
	.proj-col {
		min-width: 33.333%;
		display: inline-block;
	}
}


section#projects {
	background-color: $dark-blue;
	padding-bottom: 100px;
	.proj-col{
		padding-right:15px;
		padding-left:15px;
	}
	.project-heading {
		margin-top: 30px;
		background-color: $light-blue;
		color: white;
		padding: 20px;
		height: 430px;

		display: flex;
		align-items:flex-end;
		justify-content:center;
	}
	.project-text {
		position: relative;
		background-color: white;
		color:black;
		padding: 30px;
		display: flex;
		align-items:center;
		justify-content: center;
		height: 300px;
		visibility: visible;
		opacity: 1;
		transition: all 0.5s ease;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.project-description {
		position: absolute;
		// margin-bottom: 0;
		// bottom:0;
		top: 70px;
		left: 0;
		right: 0;
		height: 230px;
		background: $light-blue;
		color: #fff;
		visibility: hidden;
		opacity: 0;
		padding: 30px;

		/* transition effect. not necessary */
		transition: opacity .2s, visibility .2s;
	}

	.project-text:hover{

		align-items:flex-start;

		.project-description {
		  visibility: visible;
		  opacity: 1;
		}
	}
	
}

section#animation {
	padding-top: 250px;
	padding-bottom: 250px;
	position: relative;
	display: flex;
	justify-content: center;

	.resume-col{
		position: absolute;
		bottom: -70px;
		padding: 50px;
		background-color: #3d3d3d;
		color: white;
		border: 2px solid;
		h3{
			margin-bottom: 0;
		}
	}
}

.parallax-bg { 
	background-size: cover;
	background-attachment: fixed;
	background-image: url(asset_path("portfolio/sutd.jpg"));
	box-shadow:inset 0 0 0 2000px rgba(10,10,10,0.5);
}

section#footer {
	background-color: #3d3d3d;
	padding: 100px;

	.footer-col-custom{
		display: flex;
		align-items:center;
		justify-content: center;
	}
}

section#copyright {
	background-color: black;

	p {
		margin-bottom: 0;
		margin-top: 0;
		color:white
	}
} 
